
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://img.freepik.com/premium-vector/hand-drawn-monster-doodle-wallpaper_24306-131.jpg);
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}
.nombre_pag{
    font-size: 2.3rem;
    color: #fff;
    user-select: none;
    cursor: pointer;
}
.fondo{
    position: relative;
    width: 700px;
    height: 900px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease height .2s ease;
    transform: scale(1);
}

.fondo.active-btn{
    transform: scale(1);
}

.fondo.active{
    height: 455px;
}

.fondo .contenedor-form{
    width: 100%;
    padding: 40px;
}

.fondo .contenedor-form.login{
    transition: .17s ease;
    transform: translateX(0);
}

.fondo.active .contenedor-form.login{
    transition: none;
    transform: translateX(-400px);
}
.fondo .contenedor-form.registrar{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.fondo.active .contenedor-form.registrar{
    transition: transform .17s ease;
    transform: translateX(0);
}

.contenedor-form h2{
    font-size: 2em;
    color: #F1EFEF;
    text-align: center;
}
.contenedor-input{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #f1efef;
    margin: 30px 0;
}
.contenedor-select label{
    font-size: 1em;
    font-weight: 600;
    pointer-events: none;
    transition: .4s;
    color: #f1efef;
}
.contenedor-input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 600;
    pointer-events: none;
    transition: .4s;
    color: #f1efef;
}
.contenedor-input input:focus~label,
.contenedor-input input:valid~label{
    top: -5px;
}

.contenedor-input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #f1efef;
    padding: 0 35px 0 5px;
}
.contenedor-input .icono{
    position: absolute;
    right: 8px;
    font-size: 1.4em;
    color: #f1efef;
    line-height: 57px;
}
.recordar{
    font-size: .9em;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: #f1efef;
}
.recordar label input{
    accent-color: #090f1d;
    margin-right: 3px;
}
.recordar a{
    color: #f1efef;
    text-decoration: none;
}
.recordar a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: #090f1d;
    color: #F1EFEF;
}
.registrar{
    font-size: .9em;
    color:#F1EFEF;
    text-align: center;
    margin: 25px 0 10px;
}
.registrar p{
    color: #f1efef;
    text-decoration: none;
}

.registrar a{
    color: #f1efef;
    text-decoration: underline;
}
